*{
    --rich-black-fogra-29: #000814ff;
    --oxford-blue: #001d3dff;
    --prussian-blue: #003566ff;
    --mikado-yellow: #ffc300ff;
    --gold-web-golden: #ffd60aff;
    --orange: #f77f00ff;
    --sky-blue-crayola: rgba(72, 202, 228, .6);
    --sky-blue-crayola-2: rgba(144, 224, 239, .6);
    --blizzard-blue: rgba(173, 232, 244, .7);
    --powder-blue: rgba(202, 240, 248, .7);
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:1000px;
  opacity: 1;
}

.lead{
    font-size: x-large;
}

.ui-state-default{
  list-style-type: none;
  border-color: whitesmoke;
  background-color:var(--powder-blue);
  padding: 30px;
  

}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }
html>body #sortable li { height: 1.5em; line-height: 1.2em; }
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }

video{
    max-height: 100%;
    max-width: 100%;
    z-index: -5;
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    top: 0;
    left: 0;}

footer {
    position: fixed;
    bottom: 0;
    font-size: x-large;
    left: 40%;
  }



.california{
      color: var(--mikado-yellow)
  }

.lead{
   font-weight: 300;
}

#search-style {
  background-color: var(--gold-web-golden);
}
#search-style-favorites {
  background-color: var(--gold-web-golden);
}

.card{
  background-color:var(--oxford-blue);
  opacity: .8;
}
.card2{
  background-color: rgba(22, 138, 173, .4);
}
.card3{
  color:white;
  background-color:  rgba(234, 226, 183, .6);  

}
.fav-card-style1{
  background-color: var(--powder-blue);
}

.fav-card-style2{
  background-color: var(--blizzard-blue);
}
.fav-card-style3{
  background-color: var(--sky-blue-crayola-2);
}
.fav-card-style4{
  background-color: var(--sky-blue-crayola);
}
.card,
.card2,
.card3{
  min-height: 100vh;
}

#search-main{
  min-height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1584389109385-8810abee096b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80');
  background-repeat: no-repeat;
  background-position: 25% 25%; 
  background-size: cover;

}

.favorites-main{
  min-height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1514939775307-d44e7f10cabd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
  background-repeat: no-repeat;
  background-position: 25% 25%; 
  background-size: cover;

}

.entertainment-main{
  min-height: 100vh;
  background-image: url('https://images.pexels.com/photos/2695679/pexels-photo-2695679.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-repeat: no-repeat;
  background-position: 25% 25%; 
  background-size: cover;
  
}
.food-main{
  min-height: 100vh;
  background-image: url('https://images.pexels.com/photos/1861785/pexels-photo-1861785.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-repeat: no-repeat;
  background-position: 25% 25%; 
  background-size: cover;

}
.weather-main{
  min-height: 100vh;
  background-image: url('https://images.pexels.com/photos/196667/pexels-photo-196667.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-repeat: no-repeat;
  background-position: 25% 25%; 
  background-size: cover;

}